<!DOCTYPE html>
<html>
<head>
  <title>Pg mantenimiento</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "pg_mantenimiento/application", media: "all" %>
  <%= javascript_include_tag "pg_mantenimiento/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
